<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Sample Project</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
	<h2> Hello DevOps </h2>    
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Sample Project</a>
</nav>

<main role="main" class="container">
    
    <div class="">
        <h2>Users:</h2>
    </div>
    
    <ol>
    </ol>
    <ul class="list-group">
        <li class="list-group-item" th:each="user : ${users}">
            <span th:text="${user.firstname} + ' ' + ${user.lastname} + '. email: '"></span><span class="email" th:text="${user.email}"></span>
        </li>
    </ul>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/jquery/3.4.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</body>
</html>
